/* :root {
    --color-primary: #5c6ac4;
    --color-secondary: #ecc94b;
  } */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './player.css';


#svg-plant{
    transform: scale(2.8);
    position: relative;
    bottom: 8px;
    overflow: visible;
}
#svg-plant .leaf {
    transform: scale(1);
    transform-origin: center 90px;
    animation: shrink 0.6s 0s 1 reverse forwards;
  }

#wrapper-svg:hover svg .leaf {
    animation: grow 0.6s 0s 1 normal forwards;
  }

  @keyframes grow {
    to {
      transform: scale(1.08) rotate(-1deg);
    }
  }

  @keyframes shrink {
    to {
      transform: scale(1.08) rotate(-1deg);
    }
  }


  .donate-link {
    width: 20em;
    margin: auto;
  }

  .donate-image {
    margin: auto;
    width: 100%;
  }

  .btn-paypal {
    background: transparent;
    border: 2px solid #2196F3;
    border-radius: 3px;
    color: #2196F3;
    font-weight: bold;
    padding: 0.3m 0em;
    margin: auto;
    display: block;
    width: 60%;
    text-decoration: none;
    font-size:1.3em;
    text-align: center;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .btn-paypal:hover {
    background-color: #2196F3;
    color: white;
    text-decoration: none;
  }

  .btn-paypal > span {
      display: inline-block;
      vertical-align: middle;
      margin: 0.8em 0;
  }
