.header_formation{
    background-image: url("./22.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
}

@media screen and (max-width: 768px) {
    .header_formation{
        background-image:none;
    }
}


