.header_exercice{
    background-image: url("./26.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
}

@media screen and (max-width: 768px) {
    .header_exercice{
        background-image:none;
    }
}
